*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #184f7c;
    color: #ecf0f1;
    padding: 16px 0;
}
header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}
header nav li a{
    color:#ecf0f1;
    text-decoration: none;
}
header .container, #hero .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 25px 5px;
    
}
#hero .container p, h2{
    align-items: flex-start;
    margin-left: 17px;
}
#brands img{
    height: 27px;
}
#brands ul{
    display: flex;
    justify-content: space-between;
}
#brands ul li{
    list-style: none;
    padding: 15px;
}
#socialm ul li a img{
    height: 17px;
}
footer{
    background-color: #184f7c;
    color:#ecf0f1;
}
#grid .container{
    display: flex;
    justify-content: space-between;
    margin: 25px 20px;
}
#socialm ul{
    list-style: none;
}
h1, h2, h3{
    margin-bottom: 20px;
}
form input, form textarea, form button{
    display: block;
}
form button{
    background-color: #184f7cd2;
    color: #fff;
    border:none;
    cursor: pointer;
}
input:focus, text-area:focus{
    outline-color: #184f7cd2;
}
#social ul{
    display: flex;
}